<section class='comment-section'>
    {{#each this}}
    <section class='comment'>
        <section class='comment-header'>
            {{user.username}} > {{format_date created_at}}
        </section>
        <section class='comment-body'>
            {{comment_content}}
        </section>
    </section>
    {{/each}}
</section>