<section class='comment-section'>
    {{#each this}}
    <section class='comment'>
        <section class='comment-header'>
            <b>{{user.username}}</b> > {{format_date created_at}}
        </section>
        <section class='comment-body'>
            {{{format_content comment_content}}}
        </section>
    </section>
    {{/each}}
</section>