<section>
    <header>
        {{title}}
    </header>
    <section>
        {{user.username}} > {{format_date created_at}}
    </section>
    <section>
        {{post_content}}
    </section>
    <section id="comments">
        {{> comments post.comments}}
    </section>
</section>