<section>
    <header>
        <h1>Create post</h1>
    </header>
    <section>
        <input placeholder="Title" />
    </section>
    <section>
        <textarea placeholder="Content"></textarea>
    </section>
    <section>
        <button id="submit-post">Submit</button>
    </section>
</section>

<script src="/js/post.js"></script>