<section>
    <header>
        <h1>Your Dashboard</h1>
    </header>
    <section>
        <a href="/dashboard/create/">Create Post</a>
    </section>
    <section>
        {{#if postsList.length}}
            {{#each postsList as |post|}}
                {{> dash-post-details post}}
            {{/each}}
        {{/if}}
    </section>
</section>