<section>
    <header>
        <h1>Edit post</h1>
    </header>
    <section>
        <input name="title" value="{{post.post_title}}" />
    </section>
    <section>
        <textarea name="content" class="post-editor">{{post.post_content}}</textarea>
    </section>
    <section>
        <button id="submit-post">Submit</button>
    </section>
</section>

<script src="/js/edit-post.js"></script>