{{> post-page post}}

{{#if loggedIn}}
<section>
    <section><textarea name="comment"></textarea></section>
    <section><button id="submit-comment">Comment</button></section>
</section>
{{/if}}

{{> comments post.comments}}

<script src="/js/comment.js"></script>